.footer {
  --body-padding: 48px;
  display: flex;
  justify-content: center;
  gap: 64px;
  align-items: flex-end;
  padding-bottom: 96px;
  background-color: var(--primary-dark);
  height: 200px;
  width: calc(100% + var(--body-padding) * 2);
  margin-left: calc(var(--body-padding) * -1);
  margin-bottom: calc(var(--body-padding) * -1);
  overflow: hidden;
  border: 2px solid var(--primary-darker);
}
.nameContainer {
  height: 64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-invert);
  border-radius: 16px;
  padding: 4px;
}
.initiales {
  color: var(--primary-invert);
  font-family: "Anton";
  font-weight: 100;
  font-size: 32px;
  background-color: var(--primary-darker);
  padding: 0px 8px;
  border-radius: 4px;
  position: relative;
  right: 1px;
}
.separator {
  height: 412%;
  width: 2px;
  margin: 0;
  background-color: var(--primary-darker);
  position: relative;
  top: 48px;
  left: 16px;
}
.linkContainer {
  list-style: none;
  display: flex;
  gap: 48px;
  justify-content: space-between;
  padding-bottom: 24px;
}
.footerLink {
  display: inline-block;
  font-size: 20px;
  color: var(--text-primary);
}
.footerLink:hover {
  margin: 0 24px;
  transform: scale(1.2);
}
.nameContainer:hover {
  cursor: pointer;
}
.footerBackground {
  position: absolute;
  height: 300px;
  width: 100%;
  left: 0;
  /* border: 1px solid; */
  background-image: linear-gradient(180deg, transparent 0%, var(--primary) 50%);
  transform: translateY(-100%);
}
@media screen and (width <= 800px) {
  .footer {
    height: 200px;
    padding-top: 110px;
    align-items: flex-start;
  }
  .linkContainer {
    flex-direction: column;
  }
  .footerLink:hover {
    margin: 0 0;
    transform: scale(1.1);
  }
  .separator {
    height: 540%;
    top: 92px;
  }
}
@media screen and (800px <= width < 1024px) {
  .separator {
    height: 800%;
    top: 92px;
  }
  .linkContainer {
    margin-left: 48px;
  }
}
