.skillContainer {
  --text-size: 20%;
  --img-size: 32px;
  --gap: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--gap);
}
.skillName {
  text-align: right;
  font-size: 1.3em;
  width: var(--text-size);
}
.skillContainer img {
  width: var(--img-size);
  height: var(--img-size);
  object-fit: contain;
}
.scoreContainer {
  position: relative;
  height: 28px;
  width: calc(100% - var(--gap) * 2 - var(--text-size) - var(--img-size));
}
.scoreBar {
  height: 100%;
  background-color: var(--secondary);
}
.scoreContainer p {
  position: absolute;
  font-size: 1em;
  top: -1.2em;
}

@media screen and (width <= 600px) {
  .scoreContainer {
    width: calc(85% - var(--gap) * 2 - var(--text-size) - var(--img-size));
  }
  .skillContainer {
    justify-content: space-between;
  }
  .skillContainer p {
    flex: 1;
  }
}
