.variables {
  --width: 400px;
  --height: 650px;
  --date-position-top: 9.5%;
  --font-size: 1.2em;
  --borders: 8px;
  --margin: 8px;
}
.variables.mini {
  --width: 300px;
  --height: 440px;
  --date-position-top: 24px;
  --font-size: 1.2em;
  --borders: 4px;
  --margin: 8px;
}
.mainContainer {
  margin-right: var(--margin);
  composes: variables;
  width: var(--width);
  height: var(--height);
  position: relative;
  border: var(--borders) solid transparent;
  transition: all 0.5s ease-in-out;
  border-radius: 32px;
}
.mainContainer.mini {
  margin-right: 0;
  padding-top: -32px;
  background-color: var(--primary-dark);
}
.content,
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date {
  transition: all 0.5s ease-out;
  composes: variables;
  position: absolute;
  top: var(--date-position-top);
  height: 24px;
  background-color: var(--primary-dark);
  border: 2px solid var(--primary-darker);
  border-radius: 16px 16px 0 0;
  border-bottom: unset;
  width: 33%;
  text-align: center;
  font-size: calc(var(--font-size) * 0.8);
}
.date.mini {
  border: unset;
  position: relative;
  top: 8px;
}
.content {
  margin-top: calc(var(--date-position-top) + 32px);
}
.content.mini {
  margin-top: -16px;
}
.content h3 {
  font-size: var(--font-size);
}
.technologies {
  margin: 32px 0;
  display: flex;
}
.technologies.mini {
  margin: 32px 0 16px 0;
}
.technologies img {
  display: block;
  margin: 0 8px;
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.projectImage {
  margin-bottom: 32px;
  width: 160px;
}
.projectImage.mini {
  width: 80px;
}
.linkImage {
  cursor: pointer;
}
.description {
  width: 70%;
  text-align: center;
  margin-top: 16px;
  font-size: calc(var(--font-size) * 0.75);
}
.description.mini {
  width: 90%;
}
.linkBackground {
  position: absolute;
  width: 40px;
  height: 100%;
  border-radius: 10px 0 0 10px;
  background-color: var(--secondary);
}
.githubLink img {
  transition: all 0.3s ease-out;
  position: relative;
  width: 32px;
  height: 32px;
  margin-left: 24px;
  margin-right: 48px;
}
.githubLink {
  transition: all 0.4s ease-out;
  position: absolute;
  bottom: 20px;
  border: 6px solid var(--primary);
  border-radius: 16px;
  background-color: var(--primary-invert);
  width: 70%;
  height: 64px;
  display: flex;
  align-items: center;
  font-size: calc(var(--font-size) * 1.2);
  padding-right: calc(var(--font-size) / 3);
  font-weight: 600;
  color: var(--text-invert);
}
.githubLink.mini {
  height: 32px;
  font-size: calc(var(--font-size) * 0.9);
}
.githubLink.mini img {
  width: 24px;
  height: 24px;
  margin-left: 28px;
}
.githubLink:hover {
  color: var(--text-invert);
}
.githubLink:hover:after {
  transform: scale(0);
}

@media screen and (width <= 1650px) {
  .variables {
    --font-size: 1em;
  }
  .description {
    width: 90%;
  }
  .projectImage {
    margin-bottom: 8px;
  }
}
@media screen and (width <= 600px) {
  .variables {
    --width: 400px;
    --height: 500px;
    --date-position-top: 3%;
    --font-size: 1.2em;
  }
  .variables.mini {
    --width: 200px;
    --height: 312px;
  }
  .description.mini {
    display: none;
  }
  .githubLink.mini {
    width: 90%;
  }
  .content {
    margin-top: calc(var(--date-position-top) + 8px);
  }
  .githubLink img {
    margin-right: 16px;
  }
  .projectImage {
    width: 100px;
    margin-bottom: 16px !important;
  }
}
@media screen and (width <= 500px) {
  .variables {
    --width: 350px;
    --height: 520px;
    --date-position-top: 2.5%;
    --font-size: 1.3em;
  }
}
@media screen and (600px < width <= 1024px) {
  .variables {
    --width: 240px;
    --height: 500px;
    --date-position-top: 3%;
  }
  .variables.mini {
    --width: 250px;
    --height: 400px;
  }
  .content {
    margin-top: calc(var(--date-position-top) + 8px);
  }
  .githubLink img {
    margin-right: 16px;
  }
  .projectImage {
    width: 100px;
    margin-bottom: 16px !important;
  }
}
@media screen and (1024px < width <= 1400px) {
  .variables {
    --width: 300px;
    --height: 580px;
    --date-position-top: 10.5%;
  }
  .variables.mini {
    --height: 410px;
  }
}
@media screen and (1200px < width <= 1400px) {
  .variables {
    --width: 400px;
    --height: 580px;
    --date-position-top: 10.5%;
  }
  .projectImage {
    width: 140px;
  }
}

@media screen and (1400px < width <= 1650px) {
  .variables {
    --width: 285px;
    --height: 600px;
    --date-position-top: 10.4%;

    --borders: 8px;
    --margin: 8px;
  }
}
@media screen and (1650px < width <= 1900px) {
  .variables {
    --width: 350px;
    --height: 650px;
    --date-position-top: 9.5%;
    --borders: 8px;
    --margin: 8px;
  }
}
