.variables {
  --height: 512px;
  --padding-h: 64px;
  --padding-v: 32px;
  --work-viewer-borders: 8px;
  --work-viewer-margin: 8px;
  --work-viewer-width: 400px;
  --slider-container-width: calc(
    calc(var(--work-viewer-width) + var(--work-viewer-borders) * 2) * 3 + var(--work-viewer-margin) * 3
  );
  --work-viewer-height: 650px;
  --slider-container-height: calc(
    var(--work-viewer-height) + var(--work-viewer-borders) * 2 + var(--work-viewer-margin) * 3
  );
}
.mainContainer,
.titleContainer {
  display: flex;
  justify-content: space-between;
}
.mainContainer {
  scroll-margin-top: 220px;
  height: var(--height);
  composes: variables;
  margin: 0 0 128px 0;
  border: 2px solid var(--primary-darker);
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 16px;
  background-color: var(--primary-dark);
}
.titleContainer {
  composes: variables;
  padding: var(--padding-v) calc(var(--padding-h) / 2);
  height: calc(var(--height) - var(--padding-v) * 2);
  width: 20%;
  flex-direction: column;
  border-radius: 14px 0 0 14px;
}
.titleContainer > p {
  position: relative;
  bottom: 160px;
}
.worksContainer {
  position: absolute;
  top: 0;
  right: 0;
  margin: -96px 0 -120px 0;
  height: var(--slider-container-height);
  width: var(--slider-container-width);
  overflow: hidden;
}
.slider {
  position: absolute;
  transition: all 0.5s ease-in-out;
  left: 0;
  height: 100%;
  display: flex;
}
.buttonContainer {
  display: flex;
  align-items: center;
  gap: 24px;
}
.buttonContainer button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: var(--text-invert);
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 6px;
  background-color: var(--primary-invert);
}
.buttonContainer button:first-child {
  padding-right: 10px;
}

@media screen and (width <= 1024px) {
  .titleContainer,
  .worksContainer {
    left: 50%;
    transform: translateX(-50%);
  }
  .worksContainer {
    top: 12%;
  }
  .titleContainer {
    --top: 40%;
    height: calc(var(--height) - var(--padding-v) * 2 + var(--top) * 2);
    position: absolute;
    top: calc(var(--top) * -1);
    width: 70%;
    align-items: center;
  }
  .titleContainer > p {
    bottom: 354px;
  }
}
@media screen and (width <= 600px) {
  .mainContainer {
    scroll-margin: 200px;
    margin-top: 384px;
    margin-bottom: 256px;
  }
  .variables {
    --height: 410px;
    --work-viewer-borders: 7.5px;
    --work-viewer-height: 500px;
    --work-viewer-width: 400px;
    --slider-container-width: calc(
      calc(var(--work-viewer-width) + var(--work-viewer-borders) * 2) + var(--work-viewer-margin)
    );
  }
}
@media screen and (width <= 500px) {
  .variables {
    --height: 420px;
    --work-viewer-borders: 7.5px;
    --work-viewer-height: 520px;
    --work-viewer-width: 350px;
  }
}
@media screen and (600px <= width < 1024px) {
  .variables {
    --height: 400px;
    --work-viewer-borders: 7.5px;
    --work-viewer-height: 500px;
    --work-viewer-width: 240px;
    --slider-container-width: calc(
      calc(var(--work-viewer-width) + var(--work-viewer-borders) * 2) * 2 + var(--work-viewer-margin) * 2
    );
  }
}
@media screen and (1024px <= width < 1200px) {
  .variables {
    --work-viewer-width: 300px;
    --work-viewer-borders: 7.5px;
  }
}
@media screen and (1200px <= width < 1400px) {
  .variables {
    --work-viewer-width: 400px;
  }
}
@media screen and (1024px <= width < 1400px) {
  .variables {
    --height: 420px;
    --slider-container-width: calc(
      calc(var(--work-viewer-width) + var(--work-viewer-borders) * 2) * 2 + var(--work-viewer-margin) * 2
    );
    --work-viewer-height: 580px;
  }
}
@media screen and (1400px <= width < 1650px) {
  .variables {
    --height: 480px;
    --work-viewer-width: 285px;
    --work-viewer-height: 600px;
    --slider-container-width: calc(calc(var(--work-viewer-width) + 15px) * 3 + var(--work-viewer-margin) * 3);
  }
}
@media screen and (1650px <= width <= 1880px) {
  .variables {
    --height: 480px;
    --work-viewer-width: 350px;
    --work-viewer-height: 650px;
  }
}
