.variables {
  --size: 100%;
}
.container {
  position: relative;
  composes: variables;
  width: var(--size);
  height: var(--size);
}
.container img {
  position: absolute;
  object-fit: contain;
  aspect-ratio: 1 / 1;
  width: var(--size);
  height: var(--size);
}
.imgBackground {
  opacity: 0.9;
}

@media screen and (width <= 600px) {
  .container img {
    transform: scale(1.1);
  }
}
